html, body,
.view .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 740px) {
  html, body,
  .view {
    height: 100vh;
  }
}

body,
.view .site-heading {
  padding: 200px 0 150px;
  color: white;
  text-align: center;
}